PORT=3005
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY=
SERVICE_API_KEY=

# Variables adicionales para pruebas con la API real
GMAIL_ACCESS_TOKEN=
GMAIL_REFRESH_TOKEN=
SUPPLIER_EMAILS=
SINCE_DATE=
